--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
transformers==4.36.2
SentenceTransformers
spacy==3.7.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
unstructured[all-docs]
chromadb
duckdb
spacy
pandas
tqdm
ipywidgets
